access_token: {{ macbot.groupme_access_token | mandatory }}

bot:
  name: {{ macbot.bot.name | mandatory }}
  bot_id: {{ macbot.bot.bot_id | mandatory }}
  group_id: {{ macbot.bot.group_id | mandatory }}

